<h1>Welcome to Fund.sy</h1>
<h2>All campaigns</h2>
<% @campaigns.each do |campaign| %>
  <%= cache campaign do %>
    <h3><%= link_to campaign.title.upcase, campaign %></h3>
    <p>
      <%= campaign.truncated_description %>
    </p>
    <p>
    <% if campaign.user %>
      by <%= campaign.user.full_name %>
    <% end %>
    <%= campaign.comments.count %>
    </p>
    <hr>
  <% end %>
<% end %>
