<%= simple_form_for @campaign do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :goal %>
  <%= f.input :end_date %>
  <!-- <% if @campaign.errors.messages[:rewards] %>
    <div>
      <%= @campaign.errors.messages[:rewards].join(", ") %>
    </div>
  <% end %> -->
  <div class="row">
    <h2>Rewards</h2>
    <%= f.error :rewards %>
    <%= f.simple_fields_for :rewards do |r| %>
      <div class="col-md-4">
        <%= r.input :amount %>
        <%= r.input :description %>
      </div>
    <% end %>
  </div>
  <%= f.button :submit %>
<% end %>
